html,
body { 
    min-height: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: monospace;
    font-size: 16px;
}

code {
    position: absolute;
    top: 2em;
    left: 2em;
}

output {
    position: absolute;
    bottom: 2em;
    left: 2em;
    background: #2c2827;
    color: #ccc;
    line-height: 1.12;
}

.CodeMirror.cm-s-pastel-on-dark {
    background: transparent;
    height: 100vh;
    line-height: 1.12;
}

.CodeMirror-cursor {
    border-left: 2px solid #a7a7a7 !important;
}

.CodeMirror pre {
    z-index: 0;
}

.CodeMirror-line span {
    background: #2c2827;
}

.hidden {
    opacity: 0;    
}
