html,
body { 
    min-height: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.2em;
}

code {
    position: absolute;
    top: 2em;
    left: 2em;
    min-width: 1em;
    margin: 0;
    outline: none;
    background: #e1e1e1;
}

output {
    position: absolute;
    bottom: 2em;
    left: 2em;
    background: #e1e1e1;
}
