@font-face {
    font-family: 'inconsolata';
    src: url('fonts/inconsolata-regular.woff2') format('woff2'),
         url('fonts/inconsolata-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body { 
    min-height: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}

code {
    position: absolute;
    top: 2em;
    left: 2em;
}

output {
    position: absolute;
    bottom: 2em;
    left: 2em;
    color: white;
    line-height: 1.12;
    background: rgba(0, 0, 0, .5);
    font-family: inconsolata, monospace;
}

.CodeMirror {
    height: 100vh;
    font-family: inconsolata, monospace;
    line-height: 1.12;
    background: transparent;
}

.CodeMirror-cursor {
    border-left: 2px solid orange !important;
}

.CodeMirror pre {
    z-index: 0;
}

.CodeMirror-line span {
    color: white !important;
    background: rgba(0, 0, 0, .5)
}

code.blended,
output.blended {
    mix-blend-mode: difference;
}

code.blended .CodeMirror-line span {
    background: none;
    mix-blend-mode: difference;
}

.hidden {
    opacity: 0;    
}
