:root {
  --color-gray: #f1f1f1;
}

:focus-visible {
  outline: 0;
}

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font: 16px/1.1 monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  background: var(--color-gray);
}

code {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  bottom: 4rem;
}

output {
  position: absolute;
  bottom: 1.6rem;
  left: 1.6rem;
  color: white;
  background: black;
}

button {
  appearance: none;
  background: black;
  border: none;
  color: white;
  font: inherit;
  cursor: pointer;
}

button#help {
  position: absolute;
  bottom: 1.6rem;
  right: 1.6rem;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
  background: var(--color-gray);
  color: black;
  opacity: 1;
  transition: .2s all;
  font-size: 1rem;
  column-count: 2;
  overflow: auto;
  z-index: 5;
}

aside nav {
  display: flex;
  gap: 1rem;
}

aside h1 {
  display: inline-block;
  font: inherit;
  font-weight: bold;
  margin: 0;
}

aside p {
  margin: 0;
}

aside h1 + p {
  margin-top: .6em;
}

aside p + h1 {
  margin-top: 1.2em;
}


code[hidden],
output[hidden],
section[hidden] {
  display: block;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.CodeMirror {
  min-height: calc(100vh - 6em);
  line-height: 1.16;
  background: transparent;
}

.CodeMirror-selected,
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, .6) !important;
}

.CodeMirror pre {
  z-index: 0;
  padding: 0;
}

.CodeMirror-cursor {
  border-left: 3px solid white !important;
  z-index: 1 !important;
}

.CodeMirror-line span {
  background: black;
  padding: 0 !important;
  color: white !important;
}

.CodeMirror-lines {
  padding: 0 !important;
}
